.bot-message>:first-child:before {
  background-image: url(../img/poibot.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  height: 60px;
}

table, th, td {
  border: 1px solid #999;
  border-collapse: collapse;
  padding: .25em .5em;
}
table {
  margin: .5em 0;
}
table th {
  background-color: #ddd;
  font-weight: normal;
  text-align: left;
}
table tr:nth-child(even){
  background-color: #f2f2f2;
}

#chat img.icon {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  vertical-align: middle;
  margin: -.1em 0.1em;
}

code {
  color: #369;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: -0.05em;
  vertical-align: baseline;
  padding: 0 .1em;
  line-height: 1em;
}

kbd {
  text-shadow: 1px 1px #fff;
  vertical-align: middle;
  box-sizing: border-box;
  text-align: center;
  cursor: default;
  background-color: #eee;
  border-radius: 3px / 100%;
  min-width: 1.3em;
  min-height: 1.4em;
  margin: -3px .3em 0 .2em;
  padding: 0 .3em;
  font-size: .9em;
  display: inline-block;
  box-shadow: inset 1px 1px 3px 2px #fff, 3px 2px 2px #999, 0 0 0 1px #999;
}

pre {
  width: 100%;
  border-radius: 0;
  background: #efefef;
  padding: 1em
}
pre code {
  color: #444;
  letter-spacing: unset;
  font-weight: normal;
  line-height: unset;
  font-size: 1.2em
}

/* icons */
[class^="fg-"], 
[class^="fi-"] {
  margin: 0 .2em;
}

[class^="fg-"].colored, 
[class^="fi-"].colored {
  background-color: #3993f3;
  color: #fff;
  border-radius: 50%;
  padding: .4em;
}